.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url("/images/bg.jpg");
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.board {
   background-image: url("/images/board.png");
   background-repeat: no-repeat;
   height:216px;
   width:810px;
   position: relative;
}

.houses {
   position: absolute;
   width: 570px;
   height:57px;
   left:130px;
   top:47px;
}

.houses.player1 {
   top:126px;
}

.house {
   position: absolute;
   width:55px;
   height:55px;
}

.house.one{
   left:495px;
}

.house.two{
   left:415px;

}

.house.three{
   left:334px;

}

.house.four{
   left:250px;
}

.house.five{
   left:165px;
}

.house.six{
   left:80px;
}

.house.seven{
   left: 2px;
}

.house.eight{
   left: 2px;
}

.house.nine{
   left:80px;
}

.house.ten{
   left:165px;
}

.house.eleven{
   left:250px;
}

.house.twelve{
   left:330px;
}

.house.thirteen{
   left:416px;
}

.house.fourteen{
   left:495px;
}


.storehouse {
   position: absolute;
   width:80px;
   height:80px;
   top:70px;
}

.storehouse.player2{
   left:705px;
}

.storehouse.player1{
   left:20px;
}

.house > .ball {
   position:absolute;
   left:0;
   right:0;
    -webkit-transition: all 2s 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}

.highlight-enter-setup {
    background: yellow;
}
.highlight-enter-start {
    background: white;
}

.house > .ball.ng-hide {
   opacity: 0;
}

.house >.ball.one {
   left:14px;
   top:20px;
}


.house > .ball.two {
   left:40px;
   top:25px;
}

.house > .ball.three {
   left:31px;
   top:0px;
}

.house > .ball.four {
   left:20px;
   top:44px;
}

.house >  .ball.five {
   left:-6px;
   top:32px;
}

.house >.ball.six {
   left:-11px;
   top:7px;
}

.house > .ball.seven {
   left: 9px;
   top: -7px;
}

.house > .ball.eight {
   left:4px;
   top:12px;
}

.house > .ball.nine {
   left:20px;
   top:10px;
}

.house > .ball.ten {
   left:27px;
   top:24px;
}

.house > .ball.eleven {
   left:22px;
   top:30px;
}

.house > .ball.twelve {
   left:5px;
   top:30px;
}


.animate-show, .animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;

}


.animate-show {
  opacity:0;
}

.animate-show.animate-show-active {
  opacity:1;
}

.animate-hide {
  opacity:1;
}

.animate-hide.animate-hide-active {
  opacity:0;
}
