<div class="jumbotron container">
  <h2>Online Congkak</h2>
  <br>
  <p>Congkak is a cool and fun board game that played in Malaysia, Singapore, ...</p>

  <p>If you don`t know how to play this game click on below link</p>
  <a href="http://www.wikihow.com/Play-Congkak">www.wikihow.com/Play-Congkak</a>
  <p>
    <br>
    <a class="btn btn-lg btn-success" href="http://congkak.yottanami.com><span class="glyphicon glyphicon-ok"></span> Main page!</a>
  </p>
</div>
<div class="row marketing">
</div>
