  <div class="row">
    <h2></h2>
  </div>
  <div class="row" id="playerTurnReport">
    <h4>Player <b> {{playerTurn}} </b> Turn</h4>
    <h1 id="winnerReport" onClick="hideWinnerAnimation()">Player <b> {{winner}} </b> won first round!</h1>
  </div>
<div class="board center-block">
  <div class="row">
    <div class="">
      <storehouse id_number='2'></storehouse>
    </div>

    <div class="player2 houses">
      <house id_number='1'></house>
      <house id_number='2'></house>
      <house id_number='3'></house>
      <house id_number='4'></house>
      <house id_number='5'></house>
      <house id_number='6'></house>
      <house id_number='7'></house>
    </div>

    <div class="player1 houses">
      <house id_number='8'></house>
      <house id_number='9'></house>
      <house id_number='10'></house>
      <house id_number='11'></house>
      <house id_number='12'></house>
      <house id_number='13'></house>
      <house id_number='14' ></house>
    </div>

    <div class="">
      <storehouse id_number='1'></storehouse>
    </div>
  </div>
</div>
