<div class="board center-block">
	<div class="">
          <div class="player2 storehouse"></div>
	</div>

	<div class="player2 houses">
          <house id_number='1'></house>
          <house id_number='2'></house>
          <house id_number='3'></house>
          <house id_number='4'></house>
          <house id_number='5'></house>
          <house id_number='6'></house>
          <house id_number='7'></house>
	</div>

	<div class="player1 houses">
          <house id_number='1'></house>
          <house id_number='2'></house>
          <house id_number='3'></house>
          <house id_number='4'></house>
          <house id_number='5'></house>
          <house id_number='6'></house>
          <house id_number='7'></house>
	</div>

	<div class="">
          <div class="player1 storehouse"></div>
	</div>
</div>
