<div class="board center-block">
	<div class="">
          <div class="player2 storehouse"></div>
	</div>

	<div class="player2 houses">
          <div class="one house">
          </div>
          <div class="two house"></div>
          <div class="three house"></div>
          <div class="four house"></div>
          <div class="five house"></div>
          <div class="six house"></div>
          <div class="seven house"></div>
	</div>

	<div class="player1 houses">
          <div class="one house" ng-click="distribute(1)"></div>
          <div class="two house" ng-click="distribute(2)"></div>
          <div class="three house" ng-click="distribute(3)"></div>
          <div class="four house" ng-click="distribute(4)"></div>
          <div class="five house" ng-click="distribute(5)"></div>
          <div class="six house" ng-click="distribute(6)"></div>
          <div class="seven house" ng-click="distribute(7)"></div>
	</div>

	<div class="">
          <div class="player1 storehouse"></div>
	</div>
</div>
